.header-modal {
  padding: 0 48px;
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-modal-title {
  font-weight: bolder;
  font-size: 14px;
}
.header-modal-button {
  border: none;
  background-color: inherit;
}
.header-modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
