.cards-container {
  margin: auto;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.cards-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card-item {
  list-style: none;
}
