.modal {
  width: 100%;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-completed {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-question-bar {
  display: block;
  text-align: left;
  font-size: 12px;
}
.modal-question-stat {
  margin-bottom: 6px;
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question-box {
  margin-top: 40px;
  background-color: var(--white-color);
  padding: 10px 18px;
  width: 100%;
  height: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question-box-title {
  color: var(--primary-color);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
}

.question {
  font-size: 1.4rem;
  font-weight: 900;
}

.question-show-button {
  margin: auto;
  margin-top: 20px;
  padding: 6px 12px;
  margin-bottom: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 1px 2px 1px var(--primary-color);
}

.button-select {
  padding: 6px 14px;
  background-color: var(--surface-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: bolder;
  border: 1px solid var(--surface-color);
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.button-container {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.answer {
  font-size: 16px;
  font-weight: bolder;
  margin: 8px 0;
}
