.estadistica-container {
  margin: 10px 0;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #aaa;
}

.estadistica-container-box {
  margin: 10px 0;
  width: 100px;
  background-color: #fff;
  color: #222;
  border-radius: 10px;
  padding: 10px;
}
