.product-list {
  margin: auto;
  margin-bottom: 20px;
  max-width: 80%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-list-element {
  list-style: none;
}

.container-input {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
}
.container-input-search {
  font-size: 20px;
  width: 300px;
  height: 40px;
  display: block;
  margin: auto;
  color: #222;
  border: 2px solid #aaa;
  border-radius: 6px;
  padding: 4px 10px;
  background-color: #fff;
}
.container-input-search:focus {
  outline: none;
  border-color: #48e;
}
.container-input-search:active {
  outline: none;
  border-color: #48e;
}
.container-input-search:hover {
  outline: none;
  border-color: #48e;
}

.button-add {
  padding: 0;
  font-size: 1.5rem;
  width: 250px;
  height: 60px;
  background-color: #48e;
  margin: auto;
  margin-bottom: 80px;
  display: block;
}
.button-add:hover {
  outline: none;
  transition: all 1s;
  background-color: #222;
}
.button-add:active {
  outline: none;
  transition: all 1s;
  background-color: #222;
}
.button-add:focus {
  outline: none;
  transition: all 1s;
  background-color: #222;
}

.span-items {
  margin-top: 5px;
  background-color: #222;
  padding: 2px 6px;
  position: absolute;
  top: 0;
  right: 50%;
  border-radius: 10px;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #222;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #222222e4;
}
.modal-container-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5px 12px;
  width: 400px;
  height: 400px;
  background-color: #fff;
}

.modal-container-header {
  display: flex;
  justify-content: start;
  padding: 2px 6px;
  color: #222;
}
.modal-container-header h3 {
  color: #222;
}

.modal-container-inputs-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.modal-container-inputs-box p {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  padding-top: 4px;
  font-weight: 600;
  color: #222;
}
.modal-container-inputs-box input {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 20px;
  display: block;

  color: #222;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 4px 10px;
  background-color: #fff;
}
.modal-container-buttons {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
}
.button-modal {
  padding: 6px 8px;
  font-size: 1rem;
  background-color: #48e;
}
