.container {
  background-color: #48e;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #bbb;
  border-radius: 10px;
  overflow: hidden;
}
.product-box {
  padding: 0 10px;
  background-color: #fff;
  width: 100%;
  height: 40%;
}
.product-box-price-category {
  margin-top: 20px;
  padding: 0 6px;
  display: flex;
  justify-content: space-between;
}
.product-box-name {
  max-width: 100px;
  margin: 0;
  padding-bottom: 10px;
  margin-left: 6px;
  margin-top: 4px;
  font-size: 20px;
  color: #222;
}
.product-box-price {
  color: #111;
  padding-right: 6px;
  font-size: 1.4rem;
  font-weight: bolder;
}
.product-box-category {
  font-weight: bolder;
  color: #48e;
  padding: 4px 8px;
  background-color: #cdddf4;
  border-radius: 8px;
}
.product-box-body {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-box-button {
  transition: all 0.2s;
  color: #222;
  background-color: #eee;
  border: none;
  border-radius: 10px;
  padding: 4px 8px;
}
.product-box-button:hover {
  color: #eee;
  background-color: #e63;
}
