.nav-bar-container {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-bar-container-icon {
  margin-left: 15px;
  margin-right: 4px;
}

.nav-bar-container-title {
  color: var(--primary-color);
  font-size: 1.6rem;
}

.nav-bar-container-button {
  padding: 6px 8px;
  margin-right: 10px;
  border-radius: 14px;
  font-weight: 700;
  border: none;
  color: var(--primary-color);
  background-color: var(--surface-color);
}
