.task-container {
  width: 100%;
  height: 60px;
  margin: 8px 0;
  padding: 0px 0px 0 8px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px #2222;
  overflow: hidden;
}

.task-container-body {
  height: 100%;
  background-color: #fff;
  padding: 0 10px;
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: center;
}

.task-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.task-container-button {
  transition: all 0.3s;
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 12px;
  border: 1px solid #2221;
  box-shadow: 1px 1px 10px #2221;
}

.task-container-button:hover {
  color: #fff;
  background-color: var(--hard-color);
}
